html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
} 

html {
    font-size: 62.5%;
}




.main-flex-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.prof {
    padding: 0 0 40px 0;
}

.flex-item {
    flex-shrink: 2;
}

.flex-item2 {
    margin: 25 auto;   
}

.main-section {
    margin-right: 40px;
  
}

.aside-section {
    width: 50%;
    border-left: solid ;
    height: 40%;
    padding-left: 5px;
   
}

.education {
    padding-top: 10px;
}



.highlights-list, .highlights-list1 {
    text-align: justify;
  
}



.katrina-img {
    background-image: url(../images/katrinaProfImg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
  
}






/*General font styles*/



.name, h1 {
    font-family:  'Arima Madurai', cursive;

}

h2 {
    /*font-family:  'Arima Madurai', cursive;*/
    font-size: 4rem;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hyl {
    margin-left: 20px;
}


.aside-title, h3 {
    font-size: 2.5rem;
}



.responsive-section {
    display: none;
}

p, #testText, li, h3, h2, h4 {
    font-family: 'Cairo', sans-serif;

}

p {
    text-align: justify;
}



.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.resume-main-img {
    background-image: url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
 
}


.name {

    font-family: 'Arima Madurai', cursive;
    text-transform: uppercase;
    color: black;
    /* font-weight: 900; */
    font-size: 2rem;
    text-align: center;
    padding-top: 310px;
    letter-spacing: 5px;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
    font-weight: 700;

}

 a
 {
   text-decoration: underline;
   color:gray;
   transition: color 0.3s ease;
 }
 
 a:hover
 {
   color: #659DBD;
 }
 
 #menuToggle
 {
   display: block;
   top: 50px;
   left: 20px;
   position: absolute;
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 35px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
  
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 35px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background:black;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: rgba(240, 237, 237, 0.6);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 2em;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }





.about-me {
    height: 400px;
    padding: 100px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
	max-width: 800px;
	float: right;
	padding: 350px 30px 30px 30px;
	height: 400px;

}

 


/*Projects styles*/


.projects-main-img {
    background-image: url(../images/Projects-main.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    max-width: 100%;

}

.project-intro-link {
    text-decoration: none;
    color: rgb(226, 128, 89)

}

.project-intro-link:hover {
    border-bottom: 2px solid  #9FD3BD ;
}


.intro-wrapper {
    max-width: 810px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;    
   
    
}


.intro {
    padding: 50px;
    background-color: rgba(195, 202, 202, 0.5);

}

.about-sec {
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.5);
}

.portfolio img {
    max-width: 100%;
}

 .project2mac-img {
    max-width: 100%;


}

ul {
    list-style-type: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#portfolio-content {
    text-align: center;
}


figure {
    display: block;
}

.portfolio {
    margin: 0 auto;
    z-index: 1;
    background: #fff;
    padding: 3em 0;
    border-bottom: 1px solid #f1f1f1;
}

article {
    position: relative;
    display: block;
}

.portfolio {
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    color: #3b3838;
    margin-bottom: 0.83333em;
    padding-bottom: 50px;
}

.info-container hr {
    background-color: #c5c5c5;
    width: 6%;
    height: 0.0625em;
    border: none;
    margin-left: 47%;
    margin-bottom: 1.5625em;
}

.info-container {
    margin: 0 160px;
}


.project1-img, .project1mac-img {
    max-width: 100%;
}



.page-wrap {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px
}


.project4-img {
    max-width: 100%;
    display: block;
    text-align: center;
    box-shadow: 0 4px 8px 0 #c5d5cb, 0 6px 20px 0

}

.weight-img {
    max-width: 100%;
    display: block;
    text-align: center;
    box-shadow: 0 4px 8px 0 #c5d5cb, 0 6px 20px 0

}

.main-image-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title {
    margin-bottom: 20px;
    text-align: center;
    padding-right: 45px;
}

 .company, .list-font, .highlights-list, .highlights-list1 {
font-size: 1em;
}



p {
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 10px;
    font-size: 1.8rem;
    line-height: 50px;

}


.reset-button {
    text-align: center;
    padding: 5px 0;
    
}


.view-code a, .reset-button a, .contact-button {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 1.4rem;
}


.view-code {
    text-align: center;
    padding: 30px;
}




/*Volunteer styles*/


.volunteer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
                
}

.volunteer-main-img {
    background: url(../images/shutterstock_470268215.jpg) fixed;
    background-size: cover;
    padding: 100px 0;
    max-width: 100%;
    
}


.volunteer-logo-section {
    border: 1px solid orange;
}



.volunteer-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .container {
      position: relative;
      width: calc(33.3% - 10px);
      margin: 5px;
    
  
    }
    
    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: 2s ease;
      backface-visibility: hidden;
      box-shadow: 0px 0px 5px rgba(0,0,0,1);  
      
    }
    
    .middle {
      transition: 0.5s ease-in;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .container:hover .image {
      opacity: 0.1;
    }
    
    .container:hover .middle {
      opacity: 1;
    }
    
    .text {
     
      color: white;
      font-family: 'Poppins', sans-serif;
      font-size: 1.8rem;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  
    .view-button {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      color: black;
      font-size: 1.5rem;
  }
  
  .VolunteerTitle {
      font-size: 1.8rem;
      padding-bottom: 100px;
  }
  
  


/*Contact page styles*/

.contact-main-img {
    background-image: url(../images/shutterstock_467053457.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

form {
    padding: 70px 0;
    margin: 0 auto;
    text-align: center;
 
  }


  
 
  
  label {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;

  }
  
  input, textarea {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    width: 400px;
    border: 1px solid #999;
  }

  input {
      padding: 6px;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 200px;
    resize: vertical;
  }
  
  .button {
 
    padding-left: 90px; 
  
  }
  
  button {
    margin: 0 80px;
    font-family: 'Poppins', sans-serif;
  }


  .contact-button {
      margin-left: 60px;
  }
 


/*footer styles*/

.footer {
    clear: both;
    text-align: center;
    background-color:  #DAAD86;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
   
  
}

.footer-social-media2 {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 40px;
    max-width: 100%;
   
}

.sm {
    padding: 0 40px;

}

.fa-github, .fa-instagram, .fa-medium, .fa-linkedin-in {
    color: white;

}

.fa-github:hover, .fa-instagram:hover, .fa-medium:hover, .fa-linkedin-in:hover {
    color: #9FD3BD;
} 

.copyright {
    color: white;
    text-align: center;
    justify-content: center;
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}




.resume-main-img {
    background-image: url(../images/hero_alternativeFinal2.png) ;
}


    .resume-main-img, .katrina-img {
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
    background-attachment: fixed;
    width: 100%;

    }


    .sm, .intro {
        padding: 0;
    }

    .aside-section {
        width: 100%;
        border-left: none;
       
    
    }

    .highlights-list {
        padding: 20px;
        text-align: center;
    }

    .highlights-list1 {
        padding: 0;
    }

    .main-flex-container {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        
	}
	
	

    .main-section {
        margin: 20px;
        padding: 10px;
       
    }

    .about-sec {
        padding: 0;
        line-height: 2px;
        text-align: center;
    }

 

    .hyl {
        display: none;
    }

  
    
    .intro {
        padding: 40px;
    }

    h2 {
        text-align: center;
    }

    .projects-p {
        text-align: center;
    }

    .middle {
        display: none;
    }


    .social-icons {
        padding: 20px;
        justify-content: center;
        text-align: center;
    }

    .info-container {
        margin: 0 auto;
        padding: 50px;
    }

    .project1mac-img {
        width: 200px;
        height: 200px;
    }

    .contact-button {
        text-align: center;
        margin: 0 auto;
        padding-top: 20px;
    }

    .footer-social-media2 {
        padding: 0;
    }
   

   
}

/* Style demo css */


body{
	/* font-family: 'Open Sans Condensed','Arial Narrow', serif; */
	/* background: #ddd url(../images/bg.jpg) repeat top left; */
	font-weight: 400;
	font-size: 15px;
	color: #333;
	overflow-y: scroll;
	overflow-x: hidden;
}
a{
	color: #555;
	text-decoration: none;
}
.container{
	width: 100%;
	position: relative;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.container3 > header{
	margin: 10px 10px 0px 10px;
	padding: 20px 10px 0px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container3 > header h1{
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #666;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container3 > header h1 span{
	font-weight: 700;
}
.container3 > header h2{
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #666;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
}
.container3 > header h2 strong{
	color: #781430;
}

.main{
	max-width: 672px;
	padding: 30px 0;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}
.codrops-top a:hover{
	background: rgba(255,255,255,0.3);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
/* Demo Buttons Style */
.codrops-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}
.codrops-demos a{
    display: inline-block;
	margin: 0px 4px;
	padding: 0px 6px;
	color: #aaa;
	line-height: 20px;	
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #fff;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.codrops-demos a:hover{
	color: #333;
	background: #fff;
}
.codrops-demos a:active{
	background: #fff;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	background: #f0f0f0;
	border-color: #d9d9d9;
	color: #aaa;
	box-shadow: 0 1px 1px rgba(255,255,255,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}
.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions{
	display: block;
}





/* Style common css */

.view {
	width: 316px;
	height: 216px;
	margin: 10px;
	float: left;
	position: relative;
	border: 8px solid rgba(188, 240, 235, 0.795);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
	background: #333;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	-o-perspective: 500px;
	-ms-perspective: 500px;
	perspective: 500px;
}

.view .slice{
	width: 60px;
	height: 100%;
	z-index: 100;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	
	-webkit-transition: -webkit-transform 150ms ease-in-out;
	-moz-transition: -moz-transform 150ms ease-in-out;
	-o-transition: -o-transform 150ms ease-in-out;
	-ms-transition: -ms-transform 150ms ease-in-out;
	transition: transform 150ms ease-in-out;
		
}

.view div.view-back{
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	z-index: 0;
}

.view-back span {
	display: block;
	float: right;
	padding: 10px;
	width: 100%;
	text-align: right;
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}

.view-back span:first-child {
	padding-top: 20px;
}

.view-back a {
	display: bock;
	font-size: 18px;
	color: rgba(255,255,255,0.4);
	position: absolute;
	right: 15px;
	bottom: 15px;
	border: 2px solid rgba(255,255,255,0.3);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 22px;
	text-align: center;
	font-weight: 700;
}

.view-back a:hover {
	color: #fff;
	border-color: #fff;
}

.view-back span[data-icon]:before {
    content: attr(data-icon);
    font-family: 'icons';
    color: #aaa;
	color: rgba(255,255,255,0.2);
	text-shadow: 0 0 1px rgba(255,255,255,0.2);
	padding-right: 5px;
}

.view .s2, 
.view .s3, 
.view .s4, 
.view .s5 {
	-webkit-transform: translate3d(60px,0,0);
	-moz-transform: translate3d(60px,0,0);
	-o-transform: translate3d(60px,0,0);
	-ms-transform: translate3d(60px,0,0);
	transform: translate3d(60px,0,0);
}
.view .s1 {
	background-position: 0px 0px;
}
.view .s2 {
	background-position: -60px 0px;
}
.view .s3 {
	background-position: -120px 0px;
}
.view .s4 {
	background-position: -180px 0px;
}
.view .s5 {
	background-position: -240px 0px;
}

.view .overlay {
	width: 60px;
	height: 100%;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity 150ms ease-in-out;
	-moz-transition: opacity 150ms ease-in-out;
	-o-transition: opacity 150ms ease-in-out;
	-ms-transition: opacity 150ms ease-in-out;
	transition: opacity 150ms ease-in-out;
}

.view:hover .overlay {
	opacity: 1;
}

.view img {
	position: absolute;
	z-index: 0;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	-moz-transition: left 0.3s ease-in-out;
	-ms-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}






/* Style 2 css */



.view {
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
}
.view:hover .s1{
	-webkit-transition-delay: 200ms;
	-moz-transition-delay: 200ms;
	-o-transition-delay: 200ms;
	-ms-transition-delay: 200ms;
	transition-delay: 200ms;
	
	-webkit-transform: rotate3d(0,1,0,-3deg);
	-moz-transform: rotate3d(0,1,0,-3deg);
	-o-transform: rotate3d(0,1,0,-3deg);
	-ms-transform: rotate3d(0,1,0,-3deg);
	transform: rotate3d(0,1,0,-3deg);
}
.view:hover .s2{
	-webkit-transition-delay: 150ms;
	-moz-transition-delay: 150ms;
	-o-transition-delay: 150ms;
	-ms-transition-delay: 150ms;
	transition-delay: 150ms;
	
	-webkit-transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
	-moz-transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
	-o-transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
	-ms-transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
	transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
}
.view:hover .s3{
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	-ms-transition-delay: 100ms;
	transition-delay: 100ms;
	
	-webkit-transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
	-moz-transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
	-o-transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
	-ms-transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
	transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
}
.view:hover .s4{
	-webkit-transition-delay: 50ms;
	-moz-transition-delay: 50ms;
	-o-transition-delay: 50ms;
	-ms-transition-delay: 50ms;
	transition-delay: 50ms;
	
	-webkit-transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
	-moz-transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
	-o-transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
	-ms-transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
	transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
}
.view:hover .s5{
	-webkit-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
	-moz-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
	-o-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
	-ms-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
	transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
}

.view .s4 > .overlay {
	background: -moz-linear-gradient(right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}

.view .s5 > .overlay {
	background: -moz-linear-gradient(left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
}

.view div.view-back{
	background: #0a0a0a;
	background: -moz-linear-gradient(left, #0a0a0a 0%, #666666 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0a0a0a), color-stop(100%,#666666));
	background: -webkit-linear-gradient(left, #0a0a0a 0%,#666666 100%);
	background: -o-linear-gradient(left, #0a0a0a 0%,#666666 100%);
	background: -ms-linear-gradient(left, #0a0a0a 0%,#666666 100%);
	background: linear-gradient(left, #0a0a0a 0%,#666666 100%);
}