html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
} 

html {
    font-size: 62.5%;
}

//Resume section

.main-flex-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.prof {
    padding: 0 0 40px 0;
}

.flex-item {
    flex-shrink: 2;
}

.flex-item2 {
    margin: 25 auto;   
}

.main-section {
    margin-right: 40px;
  
}

.aside-section {
    width: 50%;
    border-left: solid ;
    height: 40%;
    padding-left: 5px;
   
}

.education {
    padding-top: 10px;
}



.highlights-list, .highlights-list1 {
    text-align: justify;
  
}



.katrina-img {
    background-image: url(../images/katrinaProfImg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
  
}



.about-container {  
    max-width: 810px;
    height: 800px;
    float: right;
    padding-right: 100px;
 }
 


/*General font styles*/



.name, h1 {
    font-family:  'Arima Madurai', cursive;

}

h2 {
    /*font-family:  'Arima Madurai', cursive;*/
    font-size: 4rem;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hyl {
    margin-left: 20px;
}


.aside-title, h3 {
    font-size: 2.5rem;
}



.responsive-section {
    display: none;
}

p, #testText, li, h3, h2, h4 {
    font-family: 'Cairo', sans-serif;

}

p {
    text-align: justify;
}



.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.resume-main-img {
    background-image: url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
 
}


.name {

    font-family: 'Arima Madurai', cursive;
    text-transform: uppercase;
    color: black;
    // font-weight: 900;
    font-size: 2rem;
    text-align: center;
    padding-top: 310px;
    letter-spacing: 5px;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
    font-weight: 700;

}

 a
 {
   text-decoration: underline;
   color:gray;
   transition: color 0.3s ease;
 }
 
 a:hover
 {
   color: #659DBD;
 }
 
 #menuToggle
 {
   display: block;
   top: 50px;
   left: 20px;
   position: absolute;
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 35px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
  
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 35px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background:black;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: rgba(240, 237, 237, 0.6);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 2em;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }



//About me

.about-me {
    height: 400px;
    padding: 100px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  





/*Projects styles*/


.projects-main-img {
    background-image: url(../images/Projects-main.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    max-width: 100%;

}

.project-intro-link {
    text-decoration: none;
    color: rgb(226, 128, 89)

}

.project-intro-link:hover {
    border-bottom: 2px solid  #9FD3BD ;
}


.intro-wrapper {
    max-width: 810px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;    
   
    
}


.intro {
    padding: 50px;
    background-color: rgba(195, 202, 202, 0.5);

}

.about-sec {
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.5);
}

.portfolio img {
    max-width: 100%;
}

 .project2mac-img {
    max-width: 100%;


}

ul {
    list-style-type: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#portfolio-content {
    text-align: center;
}


figure {
    display: block;
}

.portfolio {
    margin: 0 auto;
    z-index: 1;
    background: #fff;
    padding: 3em 0;
    border-bottom: 1px solid #f1f1f1;
}

article {
    position: relative;
    display: block;
}

.portfolio {
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
    color: #3b3838;
    margin-bottom: 0.83333em;
    padding-bottom: 50px;
}

.info-container hr {
    background-color: #c5c5c5;
    width: 6%;
    height: 0.0625em;
    border: none;
    margin-left: 47%;
    margin-bottom: 1.5625em;
}

.info-container {
    margin: 0 160px;
}


.project1-img, .project1mac-img {
    max-width: 100%;
}



.page-wrap {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px
}


.project4-img {
    max-width: 100%;
    display: block;
    text-align: center;
    box-shadow: 0 4px 8px 0 #c5d5cb, 0 6px 20px 0

}

.weight-img {
    max-width: 100%;
    display: block;
    text-align: center;
    box-shadow: 0 4px 8px 0 #c5d5cb, 0 6px 20px 0

}

.main-image-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title {
    margin-bottom: 20px;
    text-align: center;
    padding-right: 45px;
}

 .company, .list-font, .highlights-list, .highlights-list1 {
font-size: 1.5em;
}



p {
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 10px;
    font-size: 1.8rem;
    line-height: 50px;

}


.reset-button {
    text-align: center;
    padding: 5px 0;
    
}


.view-code a, .reset-button a, .contact-button {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 1.4rem;
}


.view-code {
    text-align: center;
    padding: 30px;
}




/*Volunteer styles*/


.volunteer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
                
}

.volunteer-main-img {
    background: url(../images/shutterstock_470268215.jpg) fixed;
    background-size: cover;
    padding: 100px 0;
    max-width: 100%;
    
}


.volunteer-logo-section {
    border: 1px solid orange;
}



.volunteer-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .container {
      position: relative;
      width: calc(33.3% - 10px);
      margin: 5px;
    
  
    }
    
    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: 2s ease;
      backface-visibility: hidden;
      box-shadow: 0px 0px 5px rgba(0,0,0,1);  
      
    }
    
    .middle {
      transition: 0.5s ease-in;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .container:hover .image {
      opacity: 0.1;
    }
    
    .container:hover .middle {
      opacity: 1;
    }
    
    .text {
     
      color: white;
      font-family: 'Poppins', sans-serif;
      font-size: 1.8rem;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  
    .view-button {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      color: black;
      font-size: 1.5rem;
  }
  
  .VolunteerTitle {
      font-size: 1.8rem;
      padding-bottom: 100px;
  }
  
  


/*Contact page styles*/

.contact-main-img {
    background-image: url(../images/shutterstock_467053457.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

form {
    padding: 70px 0;
    margin: 0 auto;
    text-align: center;
 
  }


  
  div + div {
    margin-top: 10px;
  }
  
  label {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;

  }
  
  input, textarea {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    width: 400px;
    border: 1px solid #999;
  }

  input {
      padding: 6px;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 200px;
    resize: vertical;
  }
  
  .button {
 
    padding-left: 90px; 
  
  }
  
  button {
    margin: 0 80px;
    font-family: 'Poppins', sans-serif;
  }


  .contact-button {
      margin-left: 60px;
  }
 


/*footer styles*/

.footer {
    clear: both;
    text-align: center;
    background-color:  #DAAD86;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
   
  
}

.footer-social-media2 {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 40px;
    max-width: 100%;
   
}

.sm {
    padding: 0 40px;

}

.fa-github, .fa-instagram, .fa-medium, .fa-linkedin-in {
    color: white;

}

.fa-github:hover, .fa-instagram:hover, .fa-medium:hover, .fa-linkedin-in:hover {
    color: #9FD3BD;
} 

.copyright {
    color: white;
    text-align: center;
    justify-content: center;
}

//Responsive Design 

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .resume-main-img, .katrina-img {
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
    background-attachment: fixed;
    width: 100%;
    }

    .sm, .intro {
        padding: 0;
    }

    .aside-section {
        display: none;
    }

    .main-flex-container {
        padding: 0;
    }

    .main-section {
        margin: 20px;
        padding: 10px;
    }

    .about-sec {
        padding: 0;
        line-height: 2px;
        text-align: center;
    }

    .prof-experience {
        display: list-item;
        text-align: center;
     
    }

    .hyl {
        margin: 0;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

}