/*General font styles*/

.name, h1 {
    font-family:  'Arima Madurai', cursive;

}

h2 {
    font-family:  'Arima Madurai', cursive;
    font-size: 2.7rem;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hyl {
    margin-left: 20px;
}


.aside-title {
    font-size: 1.5rem;
    margin-top: 35px;
}

.responsive-section {
    display: none;
}

p, li, h3, h4 {
    font-family: 'Arima Madurai', cursive;

}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.resume-main-img {
    background-image: url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    height: 100vh;
    width: 0 auto;
 
  
}

.name {

    font-family: 'Arima Madurai', cursive;
    text-transform: uppercase;
    color: black;
    // font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 310px;
    letter-spacing: 5px;
    width: 100%;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
    font-weight: 700;

}

 

 a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 a:hover
 {
   color: #659DBD;
 }
 
 #menuToggle
 {
   display: block;
   top: 50px;
   left: 20px;
   position: absolute;
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 35px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
  
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 35px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background:black;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: rgba(240, 237, 237, 0.6);
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }




// .download {
//     border: 1.5px solid white;
//     text-decoration: none;
//     color:white;
//     font-family: 'Poppins', sans-serif;
//     font-size: 1.2rem;
//     margin-top: 70px;
//     padding: 5px;
// }

// .download:hover {
//     background-color: white;
//     color: black;
//     border: 1px solid black;
    
// }

//Nav bar

// .flex-container {
// 	display: flex;
// }


// ul.menu {
// 	margin: 0;
// 	padding: 0;
// 	display: flex;
//     list-style: none;
//     font-family: 'Montserrat', sans-serif;
//     position: fixed;
//     background-color: #FBEEC1;
//     z-index: 999;
//     width: 100%;
//     padding-top: 0.2em;
   
// }

// ul.menu li {
// 	flex: 1 auto;
// 	text-align: center;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }

// ul.menu a {
// 	color: black;
// 	text-decoration: none;
//     padding: 1em;
//     font-size: 1rem;
//     // font-weight: 700;
//     // text-transform: uppercase;
//     border-top: 2px solid transparent;
    
// }

// ul.menu a:hover {
//     border-top: 2px solid #9FD3BD ;
// }


//*Test scroll button

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }  


#section02 a {
    padding-top: 30px;
  }
  #section02 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
  }
  #section02 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  


//Test scroll button ends

//About me

.about-me {
    height: 400px;
    padding: 100px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  





/*Projects styles*/


.projects-main-img {
    background-image: url(../images/Projects-main.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;

 

}

.project-intro-link {
    text-decoration: none;
    color: rgb(226, 128, 89)

}

.project-intro-link:hover {
    border-bottom: 2px solid  #9FD3BD ;
}


.intro-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;    
   
    
}


.intro {
    padding: 50px;
    background-color: rgba(195, 202, 202, 0.5);

}


.container2, .container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
	display: block;

}


input[type=checkbox] {
    display: none;
  }
  
  .container2 img,  .container3 img, .container4 img {
    // margin-left: 10px;
    margin-top: 160px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }

  input[type=checkbox]:checked ~ label > img {
    transform: scale(1.7);
    cursor: zoom-out;
  }

 
  .zoomLabel {
      margin: 0;
  }


.projects-main-container1, .projects-main-container2, .projects-main-container3 {
    display: flex;
    padding: 30px 0px;
}

.projects-main-container1 {
    // background-color: rgb(243, 241, 241);
    height: 800px;
}

.projects-maing-container2 {
 background-color: rgb(206, 203, 203);
}

.projects-main-container3 {
    // background-color: rgb(243, 241, 241);
    height: 500px;
}


.project-section1 {
    flex: 3.6;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
}

.project-section2 {
    flex: 1;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.project-section3 {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 150px;
    padding: 200px 100px;
    
}

.project1-img {
    width: 400px;
    display: block;
    text-align: center;
    box-shadow: 0 4px 8px 0 #e3e0cf, 0 6px 20px 0 

}


.project4-img {
    width: 550px;
    display: block;
    text-align: center;
    box-shadow: 0 4px 8px 0 #c5d5cb, 0 6px 20px 0


}

.main-image-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title {
    font-size: 2.3rem;
    margin-bottom: 20px;
    text-align: center;
    padding-right: 45px;
}


.projects-p {
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 10px;

}

// .projects-p2 {
//     text-align: center;
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     padding: 50px;
//     background: #cec884;
//     box-shadow: 0 5px 25px rgba(0,0,0, .3);
//     border: 4px solid white;

// }

.project-section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
    
}

.reset-button {
    text-align: center;
    padding: 5px 0;
    
}


.view-code a, .reset-button a, .contact-button {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 0.8rem;
}




/*TEST*/
@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration $duration/3;
    position: relative;
    padding: 10px;
    
    
    &::before,
    &::after {
      border: 0 solid transparent;
      box-sizing: border-box;
      content: '';
      pointer-events: none;
      position: absolute;
      width: 0; height: 0;
      
      #{$vertical}: 0; 
      #{$horizontal}: 0;
    }
  
    &::before {
      $h-side: if($horizontal == 'left', 'right', 'left');
      
      border-#{$vertical}-width: $width;
      border-#{$h-side}-width: $width;
    }
    
    &::after {
      $v-side: if($vertical == 'top', 'bottom', 'top');
      
      border-#{$v-side}-width: $width;
      border-#{$horizontal}-width: $width;
    }
    
    &:hover {
      color: $hover;
      
      &::before,
      &::after {
        border-color: $hover;
        transition: border-color 0s, width $duration, height $duration;
        width: 100%;
        height: 100%;
      }
      
      &::before { transition-delay: 0s, 0s, $duration; }
      
      &::after { transition-delay: 0s, $duration, 0s; }
    }
  }
  
  .draw-border {
    @include btn-border-drawing(rgb(165, 189, 202), #9FD3BD, 2px, bottom, right);
    margin: 10px;
  }
  

/*Volunteer styles*/


.volunteer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
                
}



.volunteer-main-img {

    background: url(../images/shutterstock_470268215.jpg) fixed;
    background-size: cover;
    padding: 100px 0;
    // background-image: url(../images/IMG-20190323-WA0006~2.jpg);
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    // background-size: cover;
    // padding: 100px 0;
    
}


.volunteer-logo-section {
    border: 1px solid orange;
}


.volunteer-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.gallery .galleryItem {
    text-align: center;
	width: calc(33.3% - 10px);
	margin: 5px;
    position: relative;
   
  
}

.volunteer-img {
    display: block;
    width: 100%;  
    box-shadow: 0px 0px 5px rgba(0,0,0,1);  

}

.overlay {

    padding: 60px 25px;
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	/*align-items: center;
    justify-content: center;*/
    transition: background 2s;

}

.overlay:hover  {
    background: rgba(238, 238, 238, 0.9);
  
   
}

.galleryItem:hover .overlay {
    display: block;

}



.view-button-area {
    padding-top: 20px;
}

.view-button {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 0.9rem;
}

.view-button:hover {
    color:#659DBD;
}

.volunteer-h5 { 
    font-family: 'Poppins', sans-serif;
    color: black;
}


/*Contact page styles*/

.contact-main-img {
    background-image: url(../images/shutterstock_467053457.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    width: 100%;
}

form {
    padding: 70px 0;
    padding-right: 70px;
    text-align: center;
    margin-right: 700px;

    // border: 1px solid black;
    // border-radius: 10px;
    // background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    
  }
  
  div + div {
    margin-top: 10px;
  }
  
  label {
    text-align: center;
    display: inline-block;
    width: 90px;
    font-family: 'Poppins', sans-serif;
  }
  
  input, textarea {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 300px;
    border: 1px solid #999;
  }

  input {
      padding: 2px;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 200px;
    resize: vertical;
  }
  
  .button {
 
    padding-left: 90px; 
  
  }
  
  button {
    margin: 0 80px;
    font-family: 'Poppins', sans-serif;
  }

 

 


/*footer styles*/

.footer {
    clear: both;
    text-align: center;
    background-color:  #DAAD86;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
   
  
}

.footer-social-media2 {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 40px;
   
}

.sm {
    padding: 0 40px;
}

.fa-github, .fa-instagram, .fa-medium {
    color: white;
}

.fa-github:hover, .fa-instagram:hover, .fa-medium:hover {
    color: #9FD3BD;
} 

.copyright {
    color: white;
}

/*Thank you Page styles*/

.thank-you-page {
    margin: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
  

}

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

*,
*::before,
*::after {
	box-sizing: border-box;
}

.mainContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    
    
}


h1 {
	font-family: 'Arima Madurai', cursive;
	color: black;
	font-size: 2rem;
	letter-spacing: 5px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
    text-align: center;
    margin: 0 auto;

}

.container {
	z-index: 1;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	// min-height: 100vh;
	min-height: 35rem;
	background-image: linear-gradient(to bottom,  rgba(140, 151, 248, 0.6) 0%,rgba(232, 148, 243, 0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
    padding: 10rem;
    height: 100vh;
}

.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
	background-size: cover;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;

	&--one {
		animation-duration: 2s;
		animation-delay: 1s;		
	}
	
	&--two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}
	
	&--three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}
	
	&--four {
		animation-duration: 1.1s;
		animation-delay: -0.5s;
	}

}

.bird-container {
	position: absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
	&--one {
		animation-duration: 15s;
		animation-delay: 0;
	}
	
	&--two {
		animation-duration: 16s;
		animation-delay: 1s;
	}
	
	&--three {
		animation-duration: 14.6s;
		animation-delay: 9.5s;
	}
	
	&--four {
		animation-duration: 16s;
		animation-delay: 10.25s;
	}
	
}

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
}



/*Responsive Design*/

@media(max-width: 565px) {
	.flexContainer {
		flex-direction: column;
	}

	.logo {
		text-align: center;
	}
}

.overlay {
    display: none;
}

@media(max-width: 365px) {
	.menu {
		flex-direction: column;
    }
}

/* Portrait tablet and small desktops */
@media (max-width: 980px) {
    .overlay {
        padding: 1px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    .overlay {
        padding: 0;

    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .wrapper, .main-content-wrapper{
        width: 100%;
    }

    .main-section {
        width: 100%;
        font-size: 0.8rem;
        padding: 0;

    }

    .aside-section {
        display: none;
        font-size: 0.5rem;
        text-align: center;
    }

    .responsive-section {
        display: block;
        
    }

    .name {
        font-size: 1rem;
    }

    .title, .project-title {
        font-size: 0.8rem;
        margin: none;
        line-height: none;
    }

    .prof-experience {
        font-size: 1.5rem;
    }

    .skills, .highlights, .interests, .education {
        font-size: 0.8rem;
    }

    .projects-p {
        width: 100%;
    }

    .projects-main-container1, .projects-main-container2, .projects-main-container3 {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 100px;
        margin-bottom: 50px;
        height: auto;
    }



    .project-section1, .project-section2, .project-section3 {
        padding: 0;
        flex: 1;
       
    }

   

    .projects-main-container1, .projects-main-container2, .projects-main-container3{
        padding: 0;
    }

    .project-section-1, .project-section2, .project-section3 {
        margin: 0;
    }

    .project-title {
        margin-top: 20px;
    }

    .view-code {
        padding: 40px;
    }

    .volunteer-main-img {
        background-size: cover;
    }

    .galleryItem:hover .overlay {
        display: none;
    }

    form {
        padding-right: 0;
    }

    label {
        font-size: 1rem;
        // display: flex;
        // margin-left: 170px;
      
    }

    .contact-button {
        margin: 0;
        padding: 20px;
    }

    .contact-form {
        padding-right: 20px;
    }

    .thank-you {
        width: 100%;
    }

}


html {
    scroll-behavior: smooth;

}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}




 .timeline-wrapper {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
    margin: 0 auto;

 }



 .timeline {
    //  position: relative;
    //  margin: 50px 0;
    //  padding: 40px 0;
    //  width: 1000px;
        li {
         
            position: relative;
            width: 50%;
            list-style: none;
            padding: 30px 40px;
            box-sizing: border-box;
            
        }

 }



 .timeline:before {
     content: "";
     position: absolute;
     left: 50%;
     width: 5px;
     height: 3500px;
    //  background: #659DBD;
    background: black;
 }

 .timeline ul li:nth-child(odd) {
     float: left;
     text-align: center; 
     clear: both;
    //  margin: 50px;

 }

 .timeline ul li:nth-child(even) {
    float: right;
    text-align: center; 
    clear: both;
}

// .timeline ul li:nth-child(odd):before {
//     content: "";
//     position: absolute;
//     top: 10px;
//     right: 14px;
//     width: 10px;
//     height: 10px;
//     background: rgba(228, 220, 133, 1);
//     border-radius: 50%;
//     box-shadow: 0 0 0 3px rgb(231, 226, 163);

// }

// .timeline ul li:nth-child(even):before {
//     content: "";
//     position: absolute;
//     top: 10px;
//     left: -24px;
//     width: 10px;
//     height: 10px;
//     background: rgba(228, 220, 133, 1);
//     border-radius: 50%;
//     box-shadow: 0 0 0 3px rgb(231, 226, 163);

// }

.timeline ul li:nth-child(odd) .date{
    position: absolute;
    top: -5px;
    right: -30px;
    margin: 20px;
    padding: 2px 15px;
    // background:  rgb(245, 215, 117);
    background: rgb(39, 75, 95);
    color: white;
    border-radius: 20px;

}

.timeline ul li:nth-child(even) .date{
    position: absolute;
    top: -5px;
    left: -95px;
    margin: 20px;
    padding: 2px 20px;
    // background:  rgb(245, 211, 117);
    background: rgb(39, 75, 95);
    color: white;
    border-radius: 20px;

    

}

.speech-bubble {
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.5em solid transparent;
	border-right-color: rgb(39, 75, 95);
	border-left: 0;
	margin-top: -0.5em;
	margin-left: -0.5em;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.5em solid transparent;
	border-left-color: rgb(39, 75, 95);
	border-right: 0;
	margin-top: -0.5em;
	margin-right: -0.5em;
}

.th3 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 20px;
    // margin-left: 100px;
    background: #cec884;
    box-shadow: 0 5px 25px rgba(0,0,0, .3);
    border: 4px solid white;
}

.th4 {
   
    text-align: center;
    width: 100%;
    margin: 0;
    // padding: 20px;
    margin-left: 100px;
    background: #FBEEC1;
    box-shadow: 0 5px 25px rgba(0,0,0, .3);
    border: 4px solid white;

}

.SFimg {
    width: 100%;
}

.box2 {
    text-align: center;
    width: 60%;
    margin: 0;
    padding: 5px;
    margin-left: 100px;
    background: #FBEEC1;
    box-shadow: 0 5px 25px rgba(0,0,0, .3);
    border: 4px solid white;
    position: relative;
    z-index: 0;
   

}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
 
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
 }





 
 #photos img {
   /* Just in case there are inline attributes */
   width: 100% !important;
   height: auto !important;
 }
 
 @media (max-width: 1200px) {
   #photos {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
   }
 }
 @media (max-width: 1000px) {
   #photos {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
   }
 }
 @media (max-width: 800px) {
   #photos {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
   }
 }
 @media (max-width: 400px) {
   #photos {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
   }
 }





